@import "tailwindcss";
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
.bg-test {
  background: RGBA(174, 119, 247, 0);
  background: radial-gradient(
    circle,
    rgba(174, 119, 247, 0.3) 1%,
    rgba(174, 119, 247, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}
